
extends layout 
block content 
    header.card-header
        h4.card-title Customer requests
            div.card
                div.card-header
                    h5.card-title Order list
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/orderlist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='name' placeholder="Enter your search term(Username) ...")
                    div.col-md-4
                        input.btn.btn-primary.btn-block(type="submit")            
    table.table.table-striped 
        thead.thead-dark
            tr
                th Full Name 
                th NIN
                th Contact
                th Location
                th Service required
                th Subscription
                th
                th
        tbody
            if users.length
            each user in users
                tr
                    td #{user.lastname +' '+ user.firstname}
                    td #{user.nin}
                    td #{user.phone_num}
                    td #{user.city + ' '+ user.adress}
                    td #{user.service}
                    td #{user.subscribe}
                    td 
                        a(href='/update/'+user._id) Update
                    td
                    td
                        
    div.form-row
        div.pull-right
            a(class='button', href='/') Home Page
        

                
            


