
extends layout 
block content 
    header.card-header
        h4.card-title Trucks available
            div.card
                div.card-header
                    h5.card-title Choose a truck
    div.form-row
        div.col.form-group.col-md-12   
            form.search(action='/trucklist')
                div.form-row
                    div.col-md-8
                        input.form-control(name='name' placeholder="Enter your search term(name) ...")
                    div.col-md-4
                        input.btn.btn-primary.btn-block(type="submit")            
    table.table.table-striped 
        thead.thead-dark
            tr
                th Truck Name
                th Truck Reg No
                th Truck Code
                th Truck status
                th 
                th 
                th
                th
        tbody
            if truck.length
            each truck in trucks
                tr
                    td #{truck.name}
                    td #{truck.RegNo}
                    td #{truck.code}
                    td #{truck.status}
                    td 
                    td 
                        a(href='/edit/'+truck._id) Edit
                    td
                    td
                        form(method="post" action='/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete
                        
    div.form-row
        div.pull-right
            a(class='button', href='/') Home Page
        div.pull-left
            form(method="post" action='/logout') 
                button.btn.btn-dark.btn-block(type="submit") Log out

                
            


